@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Pacifico&family=Sono:wght@400;600&display=swap");

/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Global reset */

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo img {
}

/* Main Layout*/
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.fact-form {
  display: flex;
  margin-bottom: 40px;
  padding: 16px 32px;
  text-align: center;
  align-items: center;
  gap: 16px;
}

.fact-form input,
.fact-form select {
  /* max-width: 220px; */
  background-color: #57534e;
  border: none;
  border-radius: 100px;
  padding: 13px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 16px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
    width: auto;
  }

  .fact-form span {
    text-align: start;
  }
}

.category {
  margin-bottom: 16px;
}

.title {
  font-size: 42px;
  /* text-transform: uppercase; */
  font-family: "Pacifico", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.card {
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 30px;
  border-radius: 16px;
}

.fact {
  display: flex;
  align-items: center;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 30px;
  letter-spacing: -1px;
  gap: 24px;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  cursor: pointer;
}

.vote-btns {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-btns button {
  color: inherit;
  background-color: #57534e;
  border: none;
  font-size: 18px;
  padding: 4px 10px;
  border-radius: 100px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote-btns button:hover {
  background-color: #292524;
}

p {
  font-size: 20px;
  line-height: 1.4;
}

.source:link,
.source:visited {
  color: #d946ef;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  color: inherit;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

span {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
}

ul {
  list-style: none;
}
